main{
	width: 940px;
	margin: 0 auto;
}

form{
	margin:40px 0;
}






form label{
	display: block;
	font-size: 20px;
	margin:0 0 10px;
	padding: 10px 25px;
	width: 50%;
}
form input {
	display: block;
	margin:0 0 10px;
	padding: 10px 25px;
	width: 50%;
}