header{
	background: #00BFFF;
	padding: 20px 0;
}
#logo{
	width: 50%;
	box-sizing: border-box;
   border: 6px solid #000080;
   border-radius: 10px;
   border-style: bold;
	border-color: #000000
}
.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}
nav {
	position: absolute;
	top: 110px;
	right: 0;
}
nav li{
	display: inline;
	margin: 0 0 0 15px;

}
nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
 nav a:hover{
 	color: #C78C19

}

.produtos li{
	display: inline-block;
	text-align: center;

	width: 30%;
	vertical-align: top;
	margin: 0 1.5%
	padding: 20px 30px;
	
   box-sizing: border-box;
   border: 6px solid #000080;
   border-radius: 10px;
   border-style: bold;
}



	#banner{
		width: 30%
	}


	.produtos li:hover{
		border-color: #000000;
	}

	.produtos li:active{
		border-color: 	#00FA9A
	}
			.produtos li:hover h2{
				 text-transform:uppercase;
				font-size: 40px;
			}